<div class="customer-chat itmes-center container mx-auto">
    <section class="chat__section">
     <div class="chatarea">
        <div class="brand">
            <img height="40" src="/wassup.png" alt="">
            <h1>MealD</h1>
        </div>
        <div class="message__area"></div>
        <div>
            <textarea id="textarea" cols="30" rows="1" placeholder="Write a message..."></textarea>
        </div>
     </div>
    
    </section>
</div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
