 <section class="status">
<div class="itmes-center container mx-auto">
    <h3 class="bg-white py-1 rounded-full px-4 text-green-600 text-x5"><a href="/chat/<%= order._id %>">Chat with our delivery executive</a> </h3>

<div class="status-box w-full lg:w-2/3 mx-auto">

<div class="flex itmes-center justify-between mb-12">
<h1 class="text-xl font-bold">Track delivery status</h1>

<h6 class="bg-white py-1 rounded-full px-4 text-green-600 text-x5"><%= order._id%></h6>
<input id="hiddenInput" type="hidden" value="<%= JSON.stringify(order) %>">
</div>
<ul>
    <li class="status_line text-sm md:text-xl pb-16 step-completed" data-status="Order_placed"><span>Order Placed</span></li>
    <li class="status_line  text-sm md:text-xl pb-16 current" data-status="confirmed"><span>Order Confirming</span></li>
    <li class="status_line  text-sm md:text-xl  pb-16" data-status="prepared"><span>Preparing</span></li>
    <li class="status_line text-sm md:text-xl pb-16" data-status="delivered"><span>Out for delivery</span></li>
    <li class="status_line text-sm md:text-xl " data-status="completed"><span>Order delivered</span></li>

</ul>
</div>
</div>

</div>
 </section>